body{
    background-color: whitesmoke;
    display: grid;
    align-items: center;
    font-family: Arial, sans-serif;
}
.hero-section{
    width: 50%;
    font-size: 40px;
}
h1{
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 3px 3px 0 yellow;
    color: black;
}
p{
    border: 10px solid #003180;
    color: white;
    height: 150px;
    width: 1000px;
    letter-spacing: 1px;
    background-color: aquamarine;
}