body{
    display: grid;
    font-family: Arial, sans-serif;
    background-color: white;
    
}
.hero-border-radius{
    /* width: 50%; */
    font-size: 40px;
    
}
h1{
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 3px 4px 0 white;
    text-decoration-line: 4px;
}
p{
    /* width: 1000px; */
    height: 200px;
    border: 8px solid #003180;
    background-color: aqua;
    color: white;
    letter-spacing: 1px;
    word-spacing: 1.2px;
    line-height: 1.02;
    padding-left: 50px;
    padding-right: 10px;
    /* border-radius: 10px; */
    

}
div{
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 57% 43% 100% 0% / 100% 39% 61% 0% ;
    /* background-image: url(surajkumar.jpg); */
    /* background-size: 100% auto; */
    background: #870000;
    background: -webkit-linear-gradient(to right, #190A05, #870000);
    background: linear-gradient(to right, #a8eb12, #870d56); 
    
}