body{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}
.shadow{
    width: 200px;
    height: 200px;
    background-color: #ff0000;
    border-radius: 50%;

    /* box shadow here */
    box-shadow: 0 0 60px 60px goldenrod;
}